on:
  push:
    branches:
      - development
  pull_request:
    types: [opened, synchronize, reopened]
name: Main Workflow
jobs:
  build:
    name: Compile and Test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
        
      - name: Setup NuGet
        uses: microsoft/setup-nuget@v1.0.2
        
      - name: Restore NuGet packages
        run: nuget restore AoTTG-2.sln
        
      - name: Setup MSBuild
        run: msbuild AoTTG-2.sln

  sonarCloudTrigger:
    needs: build
    name: SonarCloud Trigger
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@master
      - name: Analyze with SonarCloud
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=aottg-2
            -Dsonar.projectKey=AoTTG-2_AoTTG-2
